<h2>We are all in this together!</h2>
<h3>The Birth of TimeWhiz</h3>
<p>
  It is always a sensitive matter to talk about bathroom stuff, let alone the
  health issues relating to it. After countless occasions of "Cristina Ordaz"
  announcing to me and a fellow coworker that she was taking a bathroom break,
  it was clear to us that she needed help. Thus, <strong>TimeWhiz</strong>, or <em>Cristina Ordaz's App</em>, was born.
</p>
<p>
  Now Cristina Ordaz can keep track of her BathRoom Breaks without needing to reach out
  to the dreaded middle-man. She can see whether she beat her previous record just like she wanted!
  And if something really is wrong with her, as we all loosely expected, TimeWhiz is there to show her
  inconsistencies are happening on her BRBs.
  Now Cristina Ordaz is a strong, beautiful latina woman. You go Cristina Ordaz!
</p>
<h3>
  TimeWhiz is created and run by a super team of TimeWhizards:
</h3>
<ul>
  <li>Julian Blunt: Idea Marketshare Founder Whizard</li>
  <li>Cristina Ordaz: Mastermind Mascot Founder Whizard</li>
  <li>Rina Bane: Code Monkey Founder Whizard</li>
  <li>Steve Beaudry: Copy Wordsmith Founder Whizard</li>
</ul>
