/*GENERAL*/
*{
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #707010;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #336666;
}
/*UTILITIES*/
.pay-attention-here{
  color: #ff4d4d;
  text-align: center;
  font-style: italic;
  border: 2px solid #ff4d4d;
  border-radius: 0.5em;
  padding: 0.25em;
}
.side-note{
  font-size: 0.55em;
  font-style: italic;
  font-weight: normal;
}
time{
  font-weight: bold;
  color: #ff9900;
}
.hang-low{
  display: inline-block;
  margin-top: 2em;
}
.the-big-btn{
  margin: 0 auto;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  font-weight: bold;
  white-space: normal;
}
.center-item{
  text-align: center;
}
/*NAV*/
h1{
  display: inline-block;
}
  h1 img{
    height: 50px;
    width: auto;
  }
nav{
  position: relative;
}
nav ul{
  display: inline-block;
  list-style: none;
}
  nav ul li{
    display: inline-block;
  }
.breaker{
  display: block;
  clear: both;
}
/*FOOTER*/
body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}
footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 25px;
}
/*TIMER*/
.timer{
  border: 2px solid #cccccc;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.brb-form{
  background-color: #ffffff;
  border: 2px solid #cccccc;
  margin-bottom: 1em;
}
input[type="checkbox"]{
  display: none;
}
  input[type="checkbox"] + label span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #e1e1e1;
    border: none;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-right: 0.5em;
  }
  input[type="checkbox"] + label span:hover{
    color: #ffaa00;
    cursor: pointer;
  }
  input[type="checkbox"] + label span:active{
    background-color: #d2d2d2;
    color: #ffffff;
  }
  input[type="checkbox"]:checked + label span{
    background-color: #ffaa00;
    color: #ffffff;
  }
    input[type="checkbox"] + label span:hover:before, input[type="checkbox"] + label span:active:before, input[type="checkbox"]:checked + label span:before{
      content: "\2713";
    }
/*WHIZARD STUFF*/
.some-neat-stuff{
  border: 2px solid #cccccc;
  margin-bottom: 1em;
}
.today-deets{
  list-style: none;
  font-size: 18px;
}
  .today-deets li{
    margin: 1em 0 1em 1em;
  }
    .today-deets li strong{
      font-size: 0.75em;
      color: #336666;
    }
canvas{
  margin: 1em 1em 0 0;
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
/*HOME*/
.three-good-things{
  margin: 2em 0;
}
.good-thing{
  padding: 0 1em 1em 1em;
}
  .good-thing:nth-child(2){
    border-width: 0px 2px;
    border-color: #cccccc;
    border-style: solid;
  }
/*RESPONSIVENESS*/
  /*MOBILE*/
  @media screen and (max-width: 767px){
    .cta{
      font-size: 1.5em;
    }
    .good-thing:nth-child(2){
      border-width: 2px 0px;
      border-color: #cccccc;
      border-style: solid;
    }
    .today-deets{
      font-size: 12px;
    }
      .today-deets li{
        display: inline-block;
      }
  }
  /*TABLET*/
  @media screen and (max-width: 991px) and (min-width: 768px){}
  /*NORMAL*/
  @media screen and (max-width: 1199px) and (min-width: 992px){}
  /*LARGE*/
  @media screen and (min-width: 1200px){}
